/* Neuton Font */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Schibsted+Grotesk&display=swap");
/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #ede2c7;
  --main-accent: #3f5422;
  --secondary-accent: #71b361;
}

body {
  font-family:
    "Neuton",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.main-button {
  background-color: var(--main-accent);
  border: 2px solid #000000;
  width: max-content;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-size: 1.2em;
  transition: 0.2s;
  color: white;
}

.main-button:hover {
  background-color: #668041;
}

.small-button {
  background-color: var(--secondary-accent);
  border: 2px solid #000000;
  width: max-content;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  font-size: 1em;
  transition: 0.2s;
  color: black;
}

.small-button:hover {
  background-color: #8fbf83;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.default-border {
  border: 2px solid black;
  border-radius: 3px;
}

/* for debugging purposes */
.border {
  border: 2px solid purple;
}

/* Neuton Font Styles */

.neuton-extralight {
  font-family: "Neuton", serif;
  font-weight: 200;
  font-style: normal;
}

.neuton-light {
  font-family: "Neuton", serif;
  font-weight: 300;
  font-style: normal;
}

.neuton-regular {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
}

.neuton-bold {
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}

.neuton-extrabold {
  font-family: "Neuton", serif;
  font-weight: 800;
  font-style: normal;
}

.neuton-regular-italic {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: italic;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 6px;
}
